<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>readfile</servlet-name>
    <servlet-class>zhenhua.message.servlet.readfile</servlet-class>
    <init-param>
    <param-name>savePath</param-name>
    <param-value>uploads</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>readfile</servlet-name>
    <url-pattern>/readfile</url-pattern>
  </servlet-mapping>
   
   
    <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>readfilemingqi</servlet-name>
    <servlet-class>zhenhua.message.servlet.readfilemingqi</servlet-class>
    <init-param>
    <param-name>savePath</param-name>
    <param-value>uploads</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>readfilemingqi</servlet-name>
    <url-pattern>/readfilemingqi</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>readfilenei</servlet-name>
    <servlet-class>zhenhua.message.servlet.readfilenei</servlet-class>
    <init-param>
    <param-name>savePath</param-name>
    <param-value>uploads</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>readfilenei</servlet-name>
    <url-pattern>/readfilenei</url-pattern>
  </servlet-mapping> 
   
     <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>readfilewai</servlet-name>
    <servlet-class>zhenhua.message.servlet.readfilewai</servlet-class>
    <init-param>
    <param-name>savePath</param-name>
    <param-value>uploads</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>readfilewai</servlet-name>
    <url-pattern>/readfilewai</url-pattern>
  </servlet-mapping> 
  
  
   <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>readfilegong</servlet-name>
    <servlet-class>zhenhua.message.servlet.readfilegong</servlet-class>
    <init-param>
    <param-name>savePath</param-name>
    <param-value>uploads</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>readfilegong</servlet-name>
    <url-pattern>/readfilegong</url-pattern>
  </servlet-mapping>   
  
    <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>Xingweijifen</servlet-name>
    <servlet-class>zhenhua.message.servlet.Xingweijifen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Xingweijifen</servlet-name>
    <url-pattern>/Xingweijifen</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>Zhiliangjifen</servlet-name>
    <servlet-class>zhenhua.message.servlet.Zhiliangjifen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Zhiliangjifen</servlet-name>
    <url-pattern>/Zhiliangjifen</url-pattern>
  </servlet-mapping>  
  
    <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>Anquanjifen</servlet-name>
    <servlet-class>zhenhua.message.servlet.Anquanjifen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Anquanjifen</servlet-name>
    <url-pattern>/Anquanjifen</url-pattern>
  </servlet-mapping> 
  
      <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>Waijifen</servlet-name>
    <servlet-class>zhenhua.message.servlet.Waijifen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Waijifen</servlet-name>
    <url-pattern>/Waijifen</url-pattern>
  </servlet-mapping> 
  
  
        <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>Gongjifen</servlet-name>
    <servlet-class>zhenhua.message.servlet.Gongjifen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gongjifen</servlet-name>
    <url-pattern>/Gongjifen</url-pattern>
  </servlet-mapping>
  
  
  
  <context-param>
         <param-name>quartz:config-file</param-name>
         <param-value>/quartz.properties</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:shutdown-on-unload</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:wait-on-shutdown</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:start-scheduler-on-load</param-name>
         <param-value>true</param-value>
     </context-param>
     
     <servlet> 
        <servlet-name>QuartzInitializer</servlet-name> 
        <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class> 
        <init-param>
            <param-name>shutdown-on-unload</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
   
</web-app>
