<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <description>This is the description of my J2EE component shenkeyu</description>
    <display-name>This is the display name of my J2EE component shenkeyu</display-name>
    <servlet-name>readfile</servlet-name>
    <servlet-class>zhenhua.message.servlet.readfile</servlet-class>
    <init-param>
    <param-name>savePath</param-name>
    <param-value>uploads</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>readfile</servlet-name>
    <url-pattern>/readfile</url-pattern>
  </servlet-mapping>
   
</web-app>
